body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#45d6ab,#22c7b1);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    text-align:center;
    color:white;
}

.card{
    background: rgba(0,0,0,0.25);
    padding:30px;
    border-radius:20px;
    max-width:500px;
    width:90%;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    animation: aparecer 1s ease;
}

@keyframes aparecer{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}

img{
    width:100%;
    max-width:350px;
    border-radius:15px;
    margin:20px 0;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

button{
    background:white;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    background:#ffe6ea;
}

#mensaje{
    margin-top:20px;
    font-size:18px;
    opacity:0;
    transition:0.5s;
}
